{{ define "main" }}

  <ul class="benji-list">
    {{ range .Pages.GroupByDate "2006" }}
      {{ $year := .Key }}
      
      {{ range $index, $page := .Pages }}
        <li>
          <a href="{{ .RelPermalink }}" class="benji-row">
            <span class="b-year">{{ if eq $index 0 }}{{ $year }}{{ end }}</span>
            
            <div class="b-main">
              <span class="b-title">{{ .Title }}</span>
              <span class="b-dots"></span> <!-- O novo conector pontilhado -->
              <span class="b-date">{{ .Date.Format "02/01" }}</span>
            </div>

          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
  {{ if not .IsHome }}
    <div class="terminal-nav">
      <div class="back-nav">
        {{ with .Parent }}
          <a href="{{ .RelPermalink }}" class="back-link">../</a>
        {{ else }}
          <a href="{{ "/" | relURL }}" class="back-link">../</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}